h1 {
color: lightseagreen;
text-align: center;

}
.image { width: 250px;
    height: 250px;
    margin-top: 25px;
}

a {
    color: seagreen;
    
    
}

 div {
    text-align: center;
 }
  
 p {
   text-align: center;

 }
 